In [1]:
import numpy as np
import pandas as pd
from pydataset import data

In [3]:
mpg = data('mpg')

DF1 = pd.DataFrame(mpg)

DF1.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [19]:
mean = np.mean(DF1["cty"])
st_dev = np.std(DF1["cty"])
median = np.median(DF1["cty"])
maximum = np.max(DF1["cty"])
minimum = np.min(DF1["cty"])

print("de mediaan is " + str(median))
print("de max is " + str(maximum))
print("de min is " + str(minimum))
print("de gem is " + str(mean))
print("de stdev is " + str(st_dev))

de mediaan is 17.0
de max is 35
de min is 9
de gem is 16.858974359
de stdev is 4.24684204134