# Create a Simple PiChart

In [7]:
%matplotlib inline 

#<-- to print visuals inline within the notebook

In [8]:

# import some modules
import matplotlib.pyplot as plt #<-- Matplotlib version of a piechart
import pandas as pd #<-- pandas module for data frame manipulation


# Import a standard dataset
iris = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [9]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [35]:
# Create a summary of the data by counting species
pichart1 = pd.DataFrame(iris.groupby('species').count())
pichart1.drop()

print(pichart1)

            sepal_length  sepal_width  petal_length  petal_width
species
setosa                50           50            50           50
versicolor            50           50            50           50
virginica             50           50            50           50

In [28]:
# Create different data sets for tha labels and the numbers

labels = pichart1['Soort']
labels

species
setosa        50
versicolor    50
virginica     50
Name: Soort, dtype: int64